
body, html{
    font-family: 'EB Garamond', serif;
    height: 100%;
    margin: 0;
}
h1{
    color: white;
}

.navbar{
    background-color:black;
    position: relative;;
    padding: 2%;
    width: 100%;
    height: auto;
}


.container{
    height: 50vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px; 

}
.cell{
    min-width: 200px;
    background-color:grey;
    font-size: 3rem;
    text-align: center;
}