body {
  font-family: Helvetica, sans-serif;
  margin: 2rem auto;
  width: 95%;
}
nav {
  /* padding: 1em; */
  text-align: center;
}

h2,
p {
  margin: 0;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-size: medium;
  width: 100%;
  color: black;
  background-color: rgb(233, 209, 246);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .boxes > * {
  padding: 0.5rem;
  background-color: grey;
  color: grey;
} */

.boxes {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 0.5rem;
  position: relative;
}

@media screen and (min-width: 40em) {
  .boxes {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4em;
  }
}

@media screen and (min-width: 40em) {
}
*/ a {
  color: black;
  opacity: 1;
  padding: 1em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: black;
}

.boxes li {
  /* background-color: grey; */
  background-size: cover;
  display: flex;
  align-items: flex-end;
  position: relative;
}

#dog-days {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/n-america.png");
  background-position: 46% 50%;
}

#dog-days2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/SkateTravel-Buddies.png");
  background-position: 46% 50%;
}

#coffee-cyclists-1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/coffee-for-cyclists-1.jpeg");
  background-position: 18% 50%;
}
#coffee-cyclists-2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/coffee-for-cyclists-2.jpeg");
  background-position: 33% 50%;
}
#coffee-cyclists-3 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/coffee-for-cyclists-3.jpeg");
  /* opacity: 0.6; */
}
#coffee-cyclists-4 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/rainbowWalk.jpeg");
  /* opacity: 0.6; */
}
#letter-to-my-ex {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/driving.jpeg");
  /* opacity: 0.6; */
}
#miss-being-gay {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/i-miss-being-gay.jpeg");
  /* opacity: 0.6; */
}

#deardamsels-1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/growth.jpg");
}
#deardamsels-2 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/doubling-up.jpg");
}

.link {
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: rgb(233, 209, 246); */
  font-size: medium;
  font-weight: bold;
  /* float: right;
  /* float: right; */
}
a.link {
  color: black;
}

#header {
  display: inline;
  padding: 0 1em 0 0;
}

strong {
  color: black;
}

.bio {
  background-color: white;
}
